<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Event List</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<div class="container">
	<h3>Event Directory</h3>
	<hr>
	<a th:href="@{/events/showFormForAddEvent}" class="btn btn-primary btn-sm mb-3">Add Event</a>
	<table border="1" class="table table-bordered table-striped">

		<thead class="table-dark">
			<tr>
				<th>Event Name</th>
				<th>EventLink</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempEvent : ${events}">
				<td th:text="${tempEvent.title}" />
				
				<td>
					<a th:href="@{/events/show/{eventId}(eventId=${tempEvent.id})}" class="btn btn-info btn-sm">
						Show Event
					</a>
				</td>
		</tbody>

	</table>
</div>
</body>
</html>