<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="${event.title}"></title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h3>Event Directory</h3>
		<hr>
		<a th:href="@{/events/{eventId}/showFormForAddMember(eventId=${event.id})}"
			class="btn btn-primary btn-sm mb-3">Add Member</a>
		<a th:href="@{/events/{eventId}/showFormForAddOption(eventId=${event.id})}"
			class="btn btn-primary btn-sm mb-3">Add Option</a>
		<table border="1" class="table table-bordered table-striped">

			<thead class="table-dark">
				<tr>
					<th>Member Name</th>
					<div th:each="eoption : ${options}">
						<th><span th:text="${eoption.showTime()}" /></th>
					</div>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<form action="#" th:action="@{/events/updateTable}"
					th:object="${tablePage}" method="post">
					<input type="hidden" th:field="*{eventId}">
					<div>
						<th:block th:each="row : ${tablePage.rows}">
							<tr>

								<td th:text="${row.name}" />

								<div th:each="checkVal : ${row.checkedOptions}">

									<td><input type="checkbox" name="checkItems"
										th:value="${checkVal.getListIdValue()}"
										th:checked="${checkVal.check}"></td>

								</div>

							</tr>
						</th:block>
					</div>
					<div>
				<tr>
					<td><input type="submit" value="Update"></td>
				</tr>
				</div>
				</form>
			</tbody>

		</table>

		<div>
		<a th:href="@{/events/show}">Back to Events List</a>
		</div>

	</div>
</body>
</html>